@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: "Arial", sans-serif;
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body header {
  box-shadow: 10px 10px 10px rgb(211, 211, 211);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.Logo {
  flex: 2 1 400px;
  display: flex;
  align-items: center;
}
body header section.Logo h1 {
  font-size: 2.5rem;
}
body header section.Logo img {
  width: 6vw;
  height: 6vw;
}
body header nav {
  flex: 5 1 500px;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
  padding-bottom: 0.3rem;
}
body header nav ul li a:hover {
  color: rgba(152, 57, 255, 0.5);
  border-bottom: 3px solid rgba(152, 57, 255, 0.5);
}
body main section.background-img {
  min-height: 70vh;
  background-image: url("../images/日本櫻花.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.background-img div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body main section.background-img h3 {
  color: white;
  font-size: 2.5rem;
}
body main section.info-circle {
  background-color: white;
  padding: 2rem 1rem;
}
body main section.info-circle h3 {
  text-align: center;
  font-size: 2rem;
}
body main section.info-circle div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.info-circle div.circle {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.info-circle div.circle img {
  width: 80%;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
}
body main section.info-circle div.circle img:hover {
  border: 3px solid rgba(152, 57, 255, 0.5);
}
body main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.empty-container h3 {
  font-size: 2rem;
  color: white;
}
body main section.exchangeInfo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(211, 211, 211);
  background-color: white;
}
body main section.exchangeInfo div.exchangeInfoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
body main section.exchangeInfo div.exchangeInfoTitle img {
  width: 5vw;
  height: 5vw;
  padding: 3px;
}
body main section.exchangeInfo div.exchangeInfoTitle h3 {
  font-size: 2.5rem;
}
body main section.exchangeInfo div#rateContainer {
  font-size: 1.5rem;
}
body main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}
body main section.google-map h3 {
  font-size: 2.5rem;
}
body main section.google-map p {
  font-size: 1.25rem;
  margin: 1rem;
}
body main section.google-map iframe {
  width: 100%;
  height: 40vh;
}
body main section.foodintros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.foodintros img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* 添加陰影 */
  cursor: pointer;
}
body main section.foodintros img:hover {
  border: 3px solid rgba(152, 57, 255, 0.5);
}
body main section.foodintros p {
  text-align: center;
  font-size: 2rem;
}
body main section.foodintros div.introcontent.None {
  display: none;
}
body main section.foodintros div.introcontent.active {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.foodintros div.introcontent.active img {
  cursor: default;
}
body main section.foodintros div.introcontent div.text.active {
  display: block;
}
body main section.foodintros div.introcontent div.text.active h3 {
  font-weight: bold;
  font-size: 5rem;
}
body main section.foodintros div.introcontent div.text.active p {
  text-align: left;
  text-indent: 2em;
  font-size: 2rem;
}
body main section.foodintros div.introcontent div.text {
  display: none;
}
body main div.titleContainer {
  margin-left: 28%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
}
body main div.titleContainer h3.aiTitle {
  font-size: 3rem;
  margin: 0;
}
body main section.chatBox {
  position: relative;
  display: flex;
  justify-items: center;
  height: 70vh;
  width: 50vw;
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 5%;
  padding: 30px;
  box-shadow: 0 0 10px #000;
  background-color: #f4f5f7;
  border-radius: 20px;
}
body main section.chatBox div.chatContainer {
  display: flex;
  width: 100%;
  height: 60vh;
}
body main section.chatBox div.chatContainer div.chatDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
body main section.chatBox div.chatContainer div.chatDisplay div.chat-message.user-message {
  display: inline-block;
  text-align: right;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 2px;
}
body main section.chatBox div.chatContainer div.chatDisplay div.chat-message.bot-message {
  border: 2px solid rgba(67, 62, 62, 0.426);
  border-radius: 20px;
  padding: 10px;
  margin: 2px;
}
body main section.chatBox div.inputContainer {
  position: absolute;
  left: 10%;
  bottom: 3%;
}
body main section.chatBox div.inputContainer input {
  width: 35vw;
  border-color: #000;
  border-radius: 20px;
  padding-left: 10px;
}
body main section.chatBox div.inputContainer button {
  border-radius: 10px;
  color: #f4f5f7;
  padding: 2px;
  background-color: rgb(123, 124, 115);
}
body main section.chatBox div.inputContainer button:hover {
  background-color: rgb(56, 55, 55);
}
body main section.button {
  text-align: center;
  font-size: 50rem;
  padding: 10px;
  margin: 10px;
}
body main section.form {
  display: flex;
  height: 80vh;
}
body main section.form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}
body main section.form form table tbody tr td {
  padding: 10px;
}
body main section.form form table tbody tr td input {
  padding: 3px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}
body main section.form form table tbody tr td textarea#contain {
  padding: 3px;
  width: 300px;
  height: 300px;
  resize: none;
  border-radius: 10px;
  border: 2px solid black;
}
body main section.secretPage {
  display: flex;
  flex-direction: column;
}
body main section.secretPage table tbody {
  display: inline-block;
  border: 2px solid red;
}
body main section.secretPage table tbody tr {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
footer section.logo img {
  width: 20vw;
}
footer section.logo h3 {
  font-size: 2.5rem;
}
footer section.links {
  margin-top: 2rem;
}
footer section.links a img {
  width: 5vh;
  margin: 0rem 1rem;
}

@media screen and (max-width: 700px) {
  body header section.Logo {
    flex-direction: column;
  }
  body header section.Logo img {
    width: 50vw;
    height: 50vh;
  }
  body header nav ul {
    flex-direction: column;
  }
  body header nav ul li {
    padding: 0.5rem 0.25rem;
  }
}/*# sourceMappingURL=style.css.map */