$themeColor: rgba(152, 57, 255, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
body{
    font-family: 'Arial', sans-serif;
    img.fixed-image{
        min-height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -5;
        bottom: 0;
        left: 0;
    }
    header{
        box-shadow: 10px 10px 10px rgba(211,211,211); //水平 垂直 模糊
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        section.Logo {
            flex: 2 1 400px;
            //border: 2px solid green;
            display: flex;
            align-items: center;
            h1{
                font-size: 2.5rem;
            }
            img{
                width: 6vw;
                height: 6vw;
            }
        }
        nav {
            flex:5 1 500px;
            
            //border: 2px solid orange;
            ul{
                display: flex;
                list-style-type: none;
                justify-content: space-around; //增加距離
                li {
                    a{
                        color:black;
                        text-decoration: none;
                        font-size: 1.35rem;
                        transition: all 0.2s ease;
                        padding-bottom: 0.3rem;
                        &:hover{
                            color: $themeColor;
                            border-bottom: 3px solid $themeColor;
                        }
                    }
                }
            }
        }
    }
    
    main {
        section.background-img{
            
            //設定背景圖片
            min-height: 70vh;
            background-image: url("../images/日本櫻花.jpg");
            background-size: cover;
            background-position: center;
            transition: all 0.75s ease;
            position: relative;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
    
            div.filter{
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                min-height: 70vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            h3{
                color:white;
                font-size: 2.5rem;
            }
        }
        section.info-circle{
            background-color: white;
            padding: 2rem 1rem;
    
            h3{
                text-align: center;
                font-size: 2rem;
            }
            div.circles{
                //border: 3px solid black;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            div.circle {
                padding: 1rem;
                //border: 3px solid red;
                flex: 0 1 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 80%;
                    border-radius:50% ;
                    transition: all 0.1s ease-in;
                    padding: 0.3rem;
                    &:hover{
                        border: 3px solid $themeColor;
                    }
                }
            }
        }
        section.empty-container{
            min-height: 70vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
    
            h3{
                font-size: 2rem;
                color: white;
            }
        }
        section.google-map{
            background-color: white;
            padding: 2rem 1rem;
            text-align: center;
            h3{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.25rem;
                margin: 1rem;
            }
            iframe {
                width: 100%;
                height: 40vh;
            }
        }
        section.foodintros{
            
            display: flex;
            flex-wrap: wrap; //空間不足的時候換行
            justify-content: center; //置中
            img{
                width: 500px; // 固定寬度，例如 200px
                height: 500px; // 固定高度，例如 200px
                object-fit: cover; // 確保圖片不會變形，會裁剪來適應容器
                border-radius: 50%; // 圓形圖片
                transition: all 0.1s ease-in;
                padding: 0.3rem;
                margin: 10px; // 添加一些間距
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* 添加陰影 */
                cursor: pointer;
                &:hover {
                    border: 3px solid $themeColor;
                }
            }
            p{
                    text-align: center;
                    font-size: 2rem;
            }
            div.introcontent.None{
                display: none;
            }
            div.introcontent.active{
                display: block;
                text-align: center;
                flex-wrap: wrap; //空間不足的時候換行
                justify-content: center; //置中
               img{
                cursor: default;
               }
            }
            div.introcontent{
                div.text.active{
                display: block;
                h3{
                    font-weight: bold;
                    font-size: 5rem;
                }
                p{
                    text-align: left;
                    text-indent: 2em;
                    font-size: 2rem;
                }
                } 
                div.text {
                    display: none;
                    
                }  
            }   
            
            }
        div.titleContainer{
            margin-left: 28%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-items: center;
            h3.aiTitle{
                font-size: 3rem;
                margin: 0;
            }
        }
            
        section.chatBox {
            position: relative;
            display: flex;
            justify-items: center;
            height: 70vh;
            width: 50vw;
            margin-left: 25%;
            margin-top: 10px;
            margin-bottom: 5%;
            padding: 30px;
            box-shadow: 0 0 10px #000;
            background-color: #f4f5f7;
            border-radius: 20px;
            div.chatContainer{
                display: flex;
                width: 100%;
                height: 60vh;
                div.chatDisplay{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    overflow-y: auto;
                    div.chat-message.user-message{
                        text-align: right;
                        border: 2px solid black;
                        border-radius: 20px;
                        padding: 10px;
                        margin: 2px;
                    }
                    div.chat-message.bot-message{
                        border: 2px solid rgba(67, 62, 62, 0.426);
                        border-radius: 20px;
                        padding: 10px;
                        margin: 2px;
                    }
                }
            }
            div.inputContainer{
                position:absolute;
                left: 10%;
                bottom: 3%;
                input{
                    width: 35vw;
                    border-color: #000;
                    border-radius: 20px;
                    padding-left: 10px;
                }
                button{
                    border-radius: 10px;
                    color: #f4f5f7;
                    padding: 2px;
                    background-color: rgb(123, 124, 115);
                    &:hover{
                        background-color: rgb(56, 55, 55);
                    }
                }
            }
            
        }
        section.button {
            text-align: center;
            font-size: 50rem;
            padding: 10px;
            margin: 10px;
        }
    }
        
    }
    footer{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        
        section.logo{
            img{
                width: 20vw;
            }
            h3{
                font-size: 2.5rem;
            }
        }
        section.links{
            margin-top: 2rem;
            a{
                img{
                    width: 5vh;
                    margin: 0rem 1rem;
                }
            }
        }
    }
    

@media screen and (max-width:700px){
    body{
        header{
            section.Logo{
                flex-direction: column;
                img{
                    width: 50vw;
                    height: 50vh;
                }
            }
            nav{
                ul{
                    flex-direction: column;
                    li{
                        padding: 0.5rem 0.25rem;
                    }
                }
            }
        }
    }
}